.wrapper {
  @apply relative -my-3 py-10 px-8 rounded-xl z-10;
  background-color: var(--background-color);
}

h1 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1.2rem;

    span {
      font-weight: 500;
      font-size: 1.5rem;
    }
  }
}

.heading {
  @apply mb-4;

  h2 {
    @apply text-center text-5xl mb-2;
    line-height: 1;
    font-family: playball;
    color: #d30c0c;
  }
  p {
    text-align: center;
    font-size: 1.2rem;
  }
}

.itemList {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: auto;
  top: 0;
  bottom: 0;
  right: 0;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 20px;
  scrollbar-width: none;

  li {
    margin-right: 1rem;
  }
}

.closetItemImage {
  width: 100px;
  @apply rounded-md shadow-sm;
}

.selected {
  border: 2px solid green;
}
