.container {
  padding-left: var(--size-gutter-raw);
  padding-right: var(--size-gutter-raw);
  padding-top: var(--space-lg);
  padding-bottom: var(--space-3xl);
  max-width: 76ch;
}

.wrapper {
  @apply relative -my-3 py-10 px-8 rounded-xl z-10;
  background-color: var(--background-color);
}

.introduction {
  @apply text-center text-xl text-black font-medium;
  line-height: 1.8;

  p:first-child {
    @apply mb-2;
  }

  h3 {
    @apply font-bold text-2xl py-2;
  }
}

section {
  @apply py-10;
  text-align: center;
}

.closetImage {
  @apply rounded-lg mb-4;
  max-width: 400px;
}

.heading {
  @apply mb-10;

  h2 {
    @apply text-center text-5xl mb-2;
    line-height: 1;
    font-family: playball;
    color: #d30c0c;
  }
  div {
    @apply text-center font-semibold;
  }
}
