.container {
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 99;
  top: 0;
}

.header {
  @apply flex flex-row w-full max-w-3xl right-0 left-0 mx-auto items-center justify-between p-4 z-30;
  background-color: transparent;
  height: 50px;
}
